<!DOCTYPE html>
<title>Pixel Forge</title>
<section class="section section-advertisement" id="advertisement">
  <div class="container advertisement-cnt">
    <div class="adv-backgroung">
      <h1 class="choose visually-hidden">Choose</h1>
      <p class="adv-text">
        Choose
        <span class="adv-span-text">your story</span>,
        making every moment unique. Time is your style, and we reveal it.
      </p>
      <a href="#contact-us" class="adv-link">Contact Us</a>
    </div>
  </div>
</section>