<section class="catalog-section section" id="catalog">
  <div class="catalog-cntainer container">
    <h2 class="catalog-title section-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-image">
          <picture>
            <source
              srcset="
                ./img/img-catalog/image1-desk.png    1x,
                ./img/img-catalog/image1-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/img-catalog/image1-tab.png    1x,
                ./img/img-catalog/image1-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/img-catalog/image1-mob.png    1x,
                ./img/img-catalog/image1-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/img-catalog/image1-mob.png"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              class="catalog-picture"
            />
          </picture>
          <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image">
          <picture>
            <source
              srcset="
                ./img/img-catalog/image2-desk.png    1x,
                ./img/img-catalog/image2-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/img-catalog/image2-tab.png    1x,
                ./img/img-catalog/image2-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/img-catalog/image2-mob.png    1x,
                ./img/img-catalog/image2-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/img-catalog/image2-mob.png"
              alt="Garmin Marq Athlete"
              class="catalog-picture"
            />
          </picture>
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image">
          <picture>
            <source
              srcset="
                ./img/img-catalog/image3-desk.png    1x,
                ./img/img-catalog/image3-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/img-catalog/image3-tab.png    1x,
                ./img/img-catalog/image3-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/img-catalog/image3-mob.png    1x,
                ./img/img-catalog/image3-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/img-catalog/image3-mob.png"
              alt="Garmin Descent MK1"
              class="catalog-picture"
            />
          </picture>
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-image">
          <picture>
            <source
              srcset="
                ./img/img-catalog/image4-desk.png    1x,
                ./img/img-catalog/image4-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/img-catalog/image4-tab.png    1x,
                ./img/img-catalog/image4-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/img-catalog/image4-mob.png    1x,
                ./img/img-catalog/image4-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/img-catalog/image4-mob.png"
              alt="Garmin D2 Delta PX"
              class="catalog-picture"
            />
          </picture>
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>
      <li class="catalog-item hidden-item">
        <div class="catalog-image">
          <picture>
            <source
              srcset="
                ./img/img-catalog/image5-desk.png    1x,
                ./img/img-catalog/image5-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/img-catalog/image5-tab.png    1x,
                ./img/img-catalog/image5-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/img-catalog/image5-mob.png    1x,
                ./img/img-catalog/image5-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/img-catalog/image5-mob.png"
              alt="Garmin Fenix 6 Pro Solar"
              class="catalog-picture"
            />
          </picture>
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>
      <li class="catalog-item hidden-item">
        <div class="catalog-image">
          <picture>
            <source
              srcset="
                ./img/img-catalog/image6-desk.png    1x,
                ./img/img-catalog/image6-desk@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/img-catalog/image6-tab.png    1x,
                ./img/img-catalog/image6-tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/img-catalog/image6-mob.png    1x,
                ./img/img-catalog/image6-mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/img-catalog/image6-mob.png"
              alt="Tube Watch S42 Date Steel With Black Case"
              class="catalog-picture"
            />
          </picture>
          <h3 class="catalog-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>
    <div class="catalog-button">
      <button class="catalog-btn" type="button">Show more</button>
    </div>
  </div>
</section>
