<div class="mobile-menu" id="mobile-menu"></div>
    <div class="menu-container">
        <button class="menu-close-btn" type="button">
            <svg class="mobile-close-icon" width="34" height="34">
                <use href="./img/sprite.svg#icon-close" class="icon"></use>
            </svg>
            </button>
        <ul class="mobile-menu-list">
            <li><a href="./index.html" class="menu-nav-link current">Home</a></li>
            <li><a href="" class="menu-nav-link">About Us</a></li>
            <li><a href="" class="menu-nav-link">Catalog</a></li>
            <li><a href="" class="menu-nav-link">Sale</a></li>
            <li><a href="" class="menu-nav-link">Reviews</a></li>
            <li><a href="" class="menu-nav-link">Contact Us</a></li>
        </ul>
        
        <ul class="mob-soc-links">
        <li class="mob-soc-list" >
            <a href="https://www.facebook.com/goITclub/" target="_blank" class="link" >
            <svg class="mobile-icon" width="18"  height="18">
                <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
            </a>
               </li>
        <li class="mob-soc-list">
                <a href="https://www.instagram.com/goitclub/" target="_blank" class="link">
             <svg class="mobile-icon" width="18"  height="18">
                 <use href="../img/sprite.svg#icon-instagram"></use>
             </svg>
             </a>
                </li>
                <li class="mob-soc-list">
                    <a href="https://www.youtube.com/c/GoIT " target="_blank" class="link">
                 <svg class="mobile-icon" width="18"  height="18">
                     <use href="../img/sprite.svg#icon-youtube"></use>
                 </svg>
                 </a>
                    </li>
        </ul>
        </div>
</div>