<section class="sale">
  <div class="container">
    <h2 class="sale section-title">Sale</h2>

    <ul class="around-set">
      <li class="around-holder">
        <img
          class="around-img"
          srcset="
            ../img/img-sale/watch-mob1.png   1x,
            ../img/img-sale/watch-mob1x2.png 2x
          "
          src="../img/img-sale/watch-mob1.png"
          alt="watch1"
          width="52"
        />
      </li>
      <li class="around-holder">
        <img
          class="around-img"
          srcset="
            ../img/img-sale/watch-mob2.png   1x,
            ../img/img-sale/watch-mob2x2.png 2x
          "
          src="../img/img-sale/watch-mob2.png"
          alt="watch1"
          width="52"
        />
      </li>
      <li class="around-holder">
        <img
          class="around-img"
          srcset="
            ../img/img-sale/watch-mob3.png   1x,
            ../img/img-sale/watch-mob3x2.png 2x
          "
          src="../img/img-sale/watch-mob3.png"
          alt="watch1"
          width="52"
        />
      </li>
      <li class="around-holder">
        <img
          class="around-img"
          srcset="
            ../img/img-sale/watch-mob4.png   1x,
            ../img/img-sale/watch-mob4x2.png 2x
          "
          src="../img/img-sale/watch-mob4.png"
          alt="watch1"
          width="52"
        />
      </li>
    </ul>
    <div class="watch-img">
      <img
        class="around-img"
        srcset="
          ../img/img-sale/watch-mob5.png   1x,
          ../img/img-sale/watch-mob5x2.png 2x
        "
        src="../img/img-sale/watch-mob5.png"
        alt="watch1"
        width="235"
      />
    </div>
    <div class="watch-description">
      <h3 class="description-title">
        MARQ® Commander (Gen 2) - Carbon Edition
      </h3>
      <p class="product-id">Product tag: 706587</p>
      <div class="price-holder">
        <div class="sale-price">€1500</div>
        <div class="total-price">€3000</div>
      </div>
      <p class="section-text description">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="watch-features">
        <li class="features-holder">Fused carbon fiber</li>
        <li class="features-holder">Grade-5 Titanuim</li>
        <li class="features-holder">Athlete</li>
        <li class="features-holder">Golfer</li>
        <li class="features-holder">Commander</li>
        <li class="features-holder">Adventurer</li>
      </ul>
    </div>
  </div>
</section>
