<section class="section" id="sale">
  <div class="container">
    <h2 class="sale-title section-title">Sale</h2>
    <div class="img-windows-set">
      <ul class="around-set">
        <li class="around-holder">
          <picture>
            <source
              srcset="
                ./img/img-sale/watch-tab-des1.png   1x,
                ./img/img-sale/watch-tab-des1x2.png 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./img/img-sale/watch-mob1.png   1x,
                ./img/img-sale/watch-mob1x2.png 2x
              "
              media="(max-width:767px)" />
            <img
              class="around img"
              src="./img/img-sale/watch-tab-des1.png"
              alt="watch1"
              width="52"
          /></picture>
        </li>
        <li class="around-holder">
          <picture>
            <source
              srcset="
                ./img/img-sale/watch-tab-des2.png   1x,
                ./img/img-sale/watch-tab-des2x2.png 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./img/img-sale/watch-mob2.png   1x,
                ./img/img-sale/watch-mob2x2.png 2x
              "
              media="(max-width:767px)" />
            <img
              class="around img"
              src="./img/img-sale/watch-tab-des2.png"
              alt="watch2"
              width="52"
          /></picture>
        </li>
        <li class="around-holder">
          <picture>
            <source
              srcset="
                ./img/img-sale/watch-tab-des3.png   1x,
                ./img/img-sale/watch-tab-des3x2.png 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./img/img-sale/watch-mob3.png   1x,
                ./img/img-sale/watch-mob3x2.png 2x
              "
              media="(max-width:767px)" />
            <img
              class="around img"
              src="./img/img-sale/watch-tab-des3.png"
              alt="watch3"
              width="52"
          /></picture>
        </li>
        <li class="around-holder">
          <picture>
            <source
              srcset="
                ./img/img-sale/watch-tab-des4.png   1x,
                ./img/img-sale/watch-tab-des4x2.png 2x
              "
              media="(min-width:768px)" />
            <source
              srcset="
                ./img/img-sale/watch-mob4.png   1x,
                ./img/img-sale/watch-mob4x2.png 2x
              "
              media="(max-width:767px)" />
            <img
              class="around img"
              src="./img/img-sale/watch-tab-des4.png"
              alt="watch4"
              width="52"
          /></picture>
        </li>
      </ul>
      <div class="big-img-holder">
        <picture>
          <source
            srcset="
              ./img/img-sale/watch-tab-des5.png   1x,
              ./img/img-sale/watch-tab-des5x2.png 2x
            "
            media="(min-width:768px)" />
          <source
            srcset="
              ./img/img-sale/watch-mob5.png   1x,
              ./img/img-sale/watch-mob5x2.png 2x
            "
            media="(max-width:767px)" />
          <img
            class="big-img"
            src="./img/img-sale/watch-tab-des5.png"
            alt="watch5"
            width="235"
        /></picture>
      </div>
    </div>
    <div class="watch-description">
      <h3 class="description-title">
        MARQ® Commander (Gen 2) - Carbon Edition
      </h3>
      <p class="product-id">Product tag: 706587</p>
      <div class="price-holder">
        <div class="sale-price">€1500</div>
        <div class="total-price">€3000</div>
      </div>
      <p class="section-text description">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="features-holder">
        <li class="watch-features">Fused carbon fiber</li>
        <li class="watch-features">Grade-5 Titanuim</li>
        <li class="watch-features">Athlete</li>
        <li class="watch-features">Golfer</li>
        <li class="watch-features">Commander</li>
        <li class="watch-features">Adventurer</li>
      </ul>
    </div>
  </div>
</section>
