.container.about-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.benefits-about-us {
    background-color: var(--cards);
    border-radius: 30px;
    padding: 40px 20px;
    max-width: 335px;
}

.section-title.about-us {
    margin-bottom: 28px;
}

.section-text.about-us {
    margin-bottom: 20px;
}

.section-text.about-us.lead {
    margin-bottom: 40px;
}

.btn-about-us {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: var(--background);
    background-color: var(--accent);
    display: block;
    border: none;
    border-radius: 16px;
    padding: 15px 37px 15px 38px;
    width: 160px;
    height: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-about-us:hover,
.btn-about-us:focus {
    background-color: #1f3cd4;
}

.about-us-img {
    border: 30px;
}

@media screen and (min-width: 768px) {
    .container.about-us {
        gap: 40px;
    }

    .benefits-about-us {
        max-width: 704px;
        padding: 80px 60px;
    }

    .section-title.about-us {
        margin-bottom: 40px;
    }

    .section-text.about-us.lead {
        margin-bottom: 60px;
    }

    .about-us-img {
        border: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .container.about-us {
        flex-direction: row;
    }

    .benefits-about-us {
        max-width: 580px;
    }

    .section-text.about-us.lead {
        margin-bottom: 40px;
    }
}