

.section-items{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(/img/img-advertisement/1XMOB.jpg);
  background-repeat: no-repeat; 
display: flex;
flex-direction: column;
gap: 28px;
align-items: start;
/* max-width: 335px; */
border-radius: 30px;
padding: 60px 28px;
background-position: center;
background-color: var(--main);
background-size: cover;
color: #fff;
}



@media screen and (min-resolution: 192dpi){
  .section-items{
    background-image: linear-gradient
(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),

url(/img/img-advertisement/2XMOB.jpg);

 }
  }


.paragraf-text{
font: 600;
font-size: 32px;
letter-spacing: -0.02em;
color: var(--background);
line-height: 100%;
  }

  .part-text{
color: rgba(251, 251, 251, 0.5);

  }

  .link{
font-weight: 500;
border: 1px solid rgba(251, 251, 251, 0.15);
border-radius: 16px;
color: var(--background);
padding: 15px 43px;
min-width: 160px;
font-size: 14px;
text-align: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


.link:hover,link:focus{
  background-color: var(--background);
  color: var(--main);

}

@media screen and (min-width: 768px) {

.section-items{
width: 768px;
background-image: linear-gradient
(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
url(/img/img-advertisement/1xpictab.jpg);
background-repeat: no-repeat;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
max-width: 704px;
padding: 80px 64px;
height: 425px;
/* І */
background-color: #0c0c0c;
border-radius: 30px;
padding-bottom: 60px;
margin-right: auto;
margin-left: auto;
background-position: center;
background-size: cover;
  }
}

@media screen and (webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx), (min-resolution: 192dppi){
 .section-items{
    background-image: linear-gradient
(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8))
,
url(/img/img-advertisement/2xpictab.jpg);
background-repeat: no-repeat;

}

  .paragraf-text{
    font: 600 32px / 1 "Gilroy", sans-serif;
letter-spacing: -0.02em;
font-size: 48px;
margin-bottom: 32px;
/* color: #fbfbfb; */
/* padding-left: 28px;
padding-right: 28px; */
  }
  .part-text{
    font: 600 32px / 1 "Gilroy", sans-serif;
color: rgba(251, 251, 251, 0.5);
letter-spacing: -0.02em;
font-size: 48px;
  }

  .link{
    /* width: 160px; */
border: 1px solid rgba(251, 251, 251, 0.15);
border-radius: 16px;
  }
  }


/* 
@media screen and (min-width: 1280px) {


    .section-items{
   background-image: linear-gradient(

rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%)
,
url(/img/img-advertisement/1xpicdesk.jpg);
background-repeat: no-repeat;
max-width: 1150px;

text-align: center;
background-color:#fff ;
 border-radius: 30px;
padding-bottom: 60px;
background-position: center;
background-size: cover;

  }
}

@media screen and (webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx), (min-resolution: 192dppi){
  .section-items{
    background-image: linear-gradient(

rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%)
,
url(/img/img-advertisement/2xpicdesk.jpg);
background-repeat: no-repeat;

  }

  .paragraf-text{
    font: 600 32px / 1 "Gilroy", sans-serif;
letter-spacing: -0.02em;
margin-left: 80px;
color: #fbfbfb;
padding-left: auto;
padding-right: auto;
text-align: left;

  }
  .part-text{
    font: 600 32px / 1 "Gilroy", sans-serif;
color: rgba(251, 251, 251, 0.5);
letter-spacing: -0.02em;
  }

  .link{
    width: 160px;
height: 48px;
margin-right: 80px;
border: 1px solid rgba(251, 251, 251, 0.15);
border-radius: 16px;
cursor: pointer;
border: 1px solid #000;

  }
}  */
