.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  

  .advertisement-container {
background-image: linear-gradient((rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8))
),
url(../img/img-advertisement/1xpicmob.jpg);
background-repeat: no-repeat;
flex-direction: column;
display: flex;
max-width: 335px;
gap: 28px;
text-align: center;
background-color: #fbfbfb;;
align-items: start;
padding-bottom: 60px;
margin-right: auto;
margin-left: auto;
background-position: center;
background-size: cover;

}



@media screen and (webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx), (min-resolution: 192dppi){
  .section-advertisement{
    background-image: linear-gradient(
(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8))
),

url(../img/img-advertisement/2xpicmob.jpg);
background-repeat: no-repeat;

  }
  }
  

  .paragraf-text{
    margin: 0 auto;
    font: 600 32px / 1 "Gilroy", sans-serif;
letter-spacing: -0.02em;
color: #fbfbfb;
width: 279px;
padding-left: 28px;
padding-right: 28px;
margin-left: 20px;
margin-right: 20px;

  }
  .part-text{
    font: 600 32px / 1 "Gilroy", sans-serif;
color: rgba(251, 251, 251, 0.5);
letter-spacing: -0.02em;
line-height: 1.07;
text-align: center;
margin-top: 60px;
margin-bottom: 136px;
margin-left: auto;
margin-right: auto;
font-size: 32px;
  }

  .link{
width: 160px;
height: 48px;
text-align: center;
display: block;
cursor: pointer;
border: 1px solid rgba(251, 251, 251, 0.15);
border-radius: 16px;
border: none;
cursor: pointer;
padding-right: 147px;
padding-top: 28px;
margin-top: 0;
  }
}



@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    
  }


  
  .section-advertisement{
    width: 704px;
height: 425px;
background-image: linear-gradient(
(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8))

),
url(../img/img-advertisement/1xpictab.jpg);
background-repeat: no-repeat;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
max-width: 704px;
text-align: center;
background-color: #0c0c0c;
border-radius: 30px;
padding-bottom: 60px;
margin-right: auto;
margin-left: auto;
background-position: center;
background-size: cover;
  }
}
@media screen and (webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx), (min-resolution: 192dppi){
  .section-advertisement{
    background-image: linear-gradient(
(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8))
),
url(../img/img-advertisement/2xpictab.jpg);
background-repeat: no-repeat;

  }

  .paragraf-text{
    font: 600 32px / 1 "Gilroy", sans-serif;
letter-spacing: -0.02em;
color: #fbfbfb;

padding-left: 28px;
padding-right: 28px;
  }
  .part-text{
    font: 600 32px / 1 "Gilroy", sans-serif;
color: rgba(251, 251, 251, 0.5);
letter-spacing: -0.02em;
  }

  .link{
    width: 160px;
height: 48px;
border: 1px solid rgba(251, 251, 251, 0.15);
border-radius: 16px;
  }
  }

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }

    
  .section-advertisement{
   

background-image: linear-gradient(
rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)
),
url(../img/img-advertisement/1xpicdesk.jpg);
background-repeat: no-repeat;
max-width: 1150px;
text-align: center;
background-color:#fff ;
 border-radius: 30px;
padding-bottom: 60px;
margin-right: auto;
margin-left: auto;
background-position: center;
background-size: cover;
  }
}

@media screen and (webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx), (min-resolution: 192dppi){
  .section-advertisement{
    background-image: linear-gradient(
rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)
),
url(../img/img-advertisement/2xpicdesk.jpg);
background-repeat: no-repeat;

  }

  .paragraf-text{
    font: 600 32px / 1 "Gilroy", sans-serif;
letter-spacing: -0.02em;

margin-left: 80px;
color: #fbfbfb;
padding-left: 28px;
padding-right: 28px;
  }
  .part-text{
    font: 600 32px / 1 "Gilroy", sans-serif;
color: rgba(251, 251, 251, 0.5);
letter-spacing: -0.02em;
  }

  .link{
    width: 160px;
height: 48px;
margin-right: 80px;
border: 1px solid rgba(251, 251, 251, 0.15);
border-radius: 16px;
  }
}
