
.hidden-item {
    display: none;
}

.catalog-title {
    margin-bottom: 24px;
}

.catalog-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: var(--main);
    margin-bottom: 8px;
}

.catalog-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}

.catalog-image {
    border: 1px solid rgba(12, 12, 12, .05);
    border-radius: 30px;
    background-color: var(--cards);
    padding: 24px 28px;
}

.catalog-picture {
    padding: 18px 36px;
    margin-bottom: 10px;
}

.catalog-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.catalog-btn {
    display: block;
    border-radius: 16px;
    min-width: 160px;
    height: 48px;
    background-color: var(--accent);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: var(--background);
    border: none;
    padding: 15px 44px;
    margin: 0 auto;
    transition: background-color .25s cubic-bezier(.4, 0, .2, 1);
}

.catalog-btn:hover,
.catalog-btn:focus {
    background-color: #1f3cd4;
}

@media screen and (min-width: 768px) {

    .catalog-button {
        display: none;
    }

    .hidden-item {
        display: block;
    }

    .catalog-title {
        margin-bottom: 40px;
    }

    .catalog-list {
        gap: 32px 16px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .catalog-item {
        width: calc((100% - 16px) / 2);
    }

    .catalog-subtitle {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 20px;
        line-height: 1;
    }

    .catalog-image {
        padding: 24px 32px;
    }

    .catalog-picture {
        padding: 10px 6px;
    }
    
}

@media screen and (min-width: 1280px) {

    .catalog-list {
        gap: 32px 23px;
    }

    .catalog-item {
         width: calc((100% - 46px) / 3);
    }
}

.catalog-image,
.catalog-picture {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-image:hover,
.catalog-image:hover .catalog-picture {
    transform: scale(1.06);
}
