.title {
    margin-bottom: 24px;
}

.form-div {
    background-color: var(--cards);
    border-radius: 30px;
    padding: 48px 28px;
    margin-bottom: 20px;
}

.form-text {
    display: inline-block;
    margin-bottom: 28px;
}

.form-input {
    display: inline-block;
    width: 100%;
    height: 42px;
    background-color: transparent;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    margin-bottom: 18px;
    padding-left: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: var(--main);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    padding-bottom: 12px;
    padding-top: 12px;
    font-family: inherit;
}

.form-input:focus {
    border-color: var(--accent);
}

.form-comment {
    display: inline-block;
    width: 100%;
    height: 84px;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    padding-left: 14px;
    resize: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: var(--main);
    margin-bottom: 28px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: inherit;
}

.form-comment:focus {
    border-color: var(--accent);
}

.form-button {
    border-radius: 16px;
    padding: 12px 50px;
    background-color: var(--accent);
    color: var(--background);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
    background-color: #1F3CD4;
}

.form-button:focus {
    background-color: #1F3CD4;
}

.img-watch {
    border-radius: 30px;
}

/* Tab */

@media screen and (min-width: 768px) {

    .container {
        padding: 0 32px;
    }

    .title  {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .form-div {
        width: 704px;
        padding: 50px 122px;
        border-radius: 50px;
        margin-bottom: 40px;
    }

    .form-text {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .form-input {
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .form-comment {
        padding-bottom: 16px;
        padding-top: 16px;
        height: 90px;
        margin-bottom: 32px;
    }

    .form-button {
        padding: 17px 63px;
    }

    .img-watch {
        border-radius: 50px;
    }
}

/* Desk */

@media screen and (min-width: 1280px) {
    .container {
        padding: 0 65px;
    }

    .contact-items {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: space-around;
    }

    .form-div {
        width: 580px;
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 0;
    }
}