    .header{
       padding: 20px 0;
       border-bottom: 1px solid rgba(12, 12, 12, 0.1);
       }
    
        @media screen and (min-width: 768px){
           .header{
             padding: 26px 0;
            }
             }
    
    .header-container{
        display: flex;
        justify-content: space-between;
        }

        @media screen and (min-width: 1270px){
            .nav-header{
              display: flex;
              align-items: center;
              gap: 203px;
             }
              }

    .logo {
        font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        padding-left: 0;
        display: block;
        }

        @media screen and (min-width: 768px){
            .logo {
                font-size: 20px;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 0;
        }
    }

    .nav-list{
        display: none;
        }

            @media screen and (min-width: 1270px){
                .nav-list{
                  display: flex;
                  gap: 40px;
                 }

                .nav-link{
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 1.28571;
                  text-align: center;
                  color: #0c0c0c;
                  font-family: "Gilroy", sans-serif;
                  }

                .header-social-list{
                  display: flex;
                  gap: 10px;
                  }
                     }

    .header-social-list{
        display: none;
        }

        @media screen and (min-width: 1270px){
            .header-social-list{
                display: flex;
                gap: 10px;
                }

            .header-social-list-item{
                border: 1px solid rgba(12, 12, 12, 0.1);
                border-radius: 10px;
                padding: 8px;
                width: 36px;
                height: 36px;
                gap: 8px;
                transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                transform: translate(50%, 0%);
                }   
  
            .header-social-list-item:hover,
            .header-social-list-item:focus{
                fill: #3350e9;
                }
                   }

    .burger-btn{
       padding: 0;
       border: none;
       background-color: transparent;
        }

    .burger-icon{
        width: 34px;
        height: 34px ;
        fill: #0c0c0c;
         }

             @media screen and (min-width: 768px){
                .burger-icon {
                    width: 40px;
                    height: 40px;
                }
            }

             @media screen and (min-width: 1270px){
                .burger-btn{
                    display: none;
                }
            }
    
    .burger-icon{
        display: block;
        }

    .nav-link{
        position: relative;
        }
            
    .nav-link::after{
        content: '';
        width: 9px;
        height: 8px;
        border-radius: 100%;
        background-color: #3350e9;
        position: absolute;
        bottom: -12px;
        right: 50%;
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(50%, 0%);
            }

    .nav-link:hover:after{
        opacity: 1;
        }

    
        
    
     
               