.hero-section{
    padding-top: 60px ;
    
   
}

.hero-container{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.hero-box{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.title-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-title{
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: var(--main);
}


.hero-accent{
    color: var(--accent);
}

.hero-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.hero-thumb{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.down-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

        
.down-link:hover,
.down-link:focus,
.down-link:active{
    color: var(--accent);
}

      
.hero-img{
    border-radius: 30px;
    background-color: rgba(12, 12, 12, 0.2), url("../img/img-hero/hero-watch-mob.jpg");
}



@media screen and (min-width:768px ){

.hero-section{
    padding-top:80px;
}

.hero-box{
    flex-direction: row;
    gap: 11px;
}

.title-box{
    max-width: 557px;
    height: 260px;
}

.hero-title{
    font-size: 70px; 
    line-height: 0.85;
}
            
.hero-text{
    font-size: 16px;
    line-height: 1.25;
}

.hero-thumb{
    height: 260px;
    flex-direction: column;
}

.down-link{
    font-size: 20px;
    line-height: 1;
}

            
.hero-img{
    border-radius: 50px;
}

}

 

@media screen and (min-width:1280px ){
    
.hero-section{
    padding-top: 80px;
    height: 889px;
}

.hero-box{
    display: flex;
    justify-content: space-between;
 }

.title-box{
    max-width: 597px;
 }

.hero-title{
    font-size: 72px;
}
             
             
}

