.hero-section{
    padding: 60px 20px 0px 20px;
    height: 732px;
    margin: 0 auto;
   
}
.hero-container{
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin: 0;
}


.hero-title{
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: var(--main);
    
    }
    .hero-accent{
        color: var(--accent);
    }

     .hero-text{
        font-weight: 500;
       font-size: 14px;
       line-height: 1.28;
       letter-spacing: -0.02em;
       color: rgba(12, 12, 12, 0.7);
       
       }

       .down-link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.02em;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #0c0c0c;
        }
        .down-link:hover,
        .down-link:focus,
        .down-link:active{
            color: var(--accent);
        }

        .title-box{
           max-width: 335px;
            min-height: 206px;
         display: flex;
         align-items: flex-start;
         justify-content:flex-start;
         flex-direction: column;
         gap: 20px;
         margin: 0 auto;
        }
        .hero-thumb{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        .hero-box{
            display: flex;
            flex-direction: column;
            gap: 28px;
        }
        .hero-img{
            border-radius: 30px;
            background-color: rgba(12, 12, 12, 0.2), url("path_to_image");
        }

        @media screen and (min-width:768px ){
            .hero-section{
                padding:80px 32px 0px 32px;
                height: 900px;
                margin: 0 auto;
               
            }   
            .hero-title{
               font-size: 70px; 
               line-height: 0.85;
            }
            .hero-text{
                font-size: 16px;
                line-height: 1.25;
            }
            .down-link{
                font-size: 20px;
                line-height: 1;
            }

            .title-box{
                max-width: 557px;
                height: 260px;
            }
            .hero-thumb{
               width: 136px;
                height: 260px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            .hero-box{
                display: flex;
                flex-direction: row;
                gap: 11px;
            }
            .hero-img{
                border-radius: 50px;
            }



        }

        @media screen and (min-width:1280px ){
            .hero-section{
                padding: 80px 65px 0px 65px;
                height: 889px;
            } 
            .hero-title{
               
                font-size: 72px;
             
             }
             .title-box{
                max-width: 597px;
                min-height: 269px;
                margin: 0; 
             }
             .hero-box{
                display: flex;
                justify-content: space-between;
             }
            
                
     
             

        }

