.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgb(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}
.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.menu-container{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0C0C0C;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)),
        url(/img/img-mob-menu/mob-menu-1x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 39px;
    padding-right: 39px;
    padding-bottom: 40px ;
}
.menu-close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
}
.mobile-close-icon{
    width: 34px;
    height: 34px;
    fill:#fbfbfb ;
}
.mobile-menu-list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    margin: auto 0;
}
.menu-nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #FBFBFB;
}
.menu-nav-link{
    position: relative;
}
.menu-nav-link:after{
    content: '';
    width: 9px;
    height: 8px;
    border-radius: 100%;
    background-color: #3350E9;
    position: absolute;
    bottom: -12px;
    right: 50%;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(50%, 0%);
}
.menu-nav-link:hover:after{
    opacity: 1;
}


.mob-soc-links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 10px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.mob-soc-list{
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 34px;
    height: 34px;
}


.mobile-icon{
    fill: #fbfbfb; 
}

.mob-soc-links:hover,
.mob-soc-links:focus,
.mob-soc-links:active{
    color: var(--background);
}


@media screen and (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),(min-resolution:192dpi){
    .menu-container{
        background-image:linear-gradient(to bottom,
        rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
       url(/img/img-mob-menu/mob-menu-2x.jpg); 
    }
}







@media screen and (min-width:768px ){

.menu-container{

    width: 330px;
    background-image:linear-gradient(to bottom,
    rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
   url(/img/img-mob-menu/tab-menu-1x.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   padding-left: 101px;
   padding-right: 101px;
   padding-bottom: 50px ;

}

.menu-close-btn{
    
    top: 26px;
    right: 32px;
 
}
.mobile-close-icon{
    width: 40px;
    height: 40px;
    
}
.mobile-menu-list{

    gap: 32px;
 
}



.mob-soc-list{

    width: 36px;
    height: 36px;
}

}

@media screen and (min-width:1280px ){
    .mobile-menu,
    .menu-container{
        display: none;
    }


}

@media screen and (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx),(min-resolution:192dpi){
    .menu-container{

    background-image:linear-gradient(to bottom,
    rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
   url(/img/img-mob-menu/tab-menu-2x.jpg);

    }
}

