.section {
}

.sale-title {
  margin-bottom: 24px;
}

.around-set {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.around-holder {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background: #f3f3f3;
  padding: 13px 14px;
}

.big-img-holder {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  margin-bottom: 20px;
  padding: 50px;
}

.watch-description {
  border-radius: 30px;
  background: #3350e9;
  padding: 48px 28px;
}
.description-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}
.product-id {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}
.price-holder {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 28px;
}
.sale-price {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  background: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
}
.total-price {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.description {
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}
.features-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.watch-features {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

/* Media */

@media screen and (min-width: 768px) {
  .img-windows-set {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
  }
  .around-set {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 0;
  }
  .around-holder {
    border-radius: 20px;
    padding: 16px 18px;
  }
  .around.img {
    width: 96px;
  }
  .big-img-holder {
    border-radius: 50px;
    padding: 80px 112px;
    margin-bottom: 0;
  }
  .big-img {
    width: 328px;
  }
  .watch-description {
    border-radius: 50px;
    padding: 60px;
  }
  .description-title {
    font-size: 32px;
    line-height: 1.13;
    margin-bottom: 10px;
    width: 436px;
  }
  .sale-price {
    font-size: 20px;
    line-height: 1;
  }
  .price-holder {
    margin-bottom: 30px;
  }
  .description {
    margin-bottom: 40px;
  }
  .features-holder {
    width: 398px;
  }
  .watch-features {
    font-size: 14px;
    line-height: 1.29;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
  }
}
